@font-face {
  font-family: "SourceSansPro-Regular";
  font-weight: 400;
  font-style: normal;
  src: local("SourceSansPro-Regular"), url("http://192.168.1.35:8080/assets/SourceSansPro-Regular.ttf");
}

:root {
  --colors-fuss10: hsla(297.1578947368421, 87.96296296296295%, 85.6470588235294%, 1);
  --colors-fuss20: hsla(297.1578947368421, 87.96296296296295%, 78.6470588235294%, 1);
  --colors-fuss30: hsla(297.1578947368421, 87.96296296296295%, 71.6470588235294%, 1);
  --colors-fuss40: hsla(297.1578947368421, 87.96296296296295%, 64.64705882352942%, 1);
  --colors-fuss50: hsla(297.1578947368421, 87.96296296296295%, 57.647058823529406%, 1);
  --colors-fuss60: hsla(297.1578947368421, 87.96296296296295%, 50.6470588235294%, 1);
  --colors-fuss70: hsla(297.1578947368421, 87.96296296296295%, 43.647058823529406%, 1);
  --colors-fuss80: hsla(297.1578947368421, 87.96296296296295%, 36.647058823529406%, 1);
  --colors-fuss90: hsla(297.1578947368421, 87.96296296296295%, 29.647058823529406%, 1);
  --colors-tiger10: hsla(6.826347305389218, 85.64102564102564%, 89.76470588235294%, 1);
  --colors-tiger20: hsla(6.826347305389218, 85.64102564102564%, 82.76470588235294%, 1);
  --colors-tiger30: hsla(6.826347305389218, 85.64102564102564%, 75.76470588235294%, 1);
  --colors-tiger40: hsla(6.826347305389218, 85.64102564102564%, 68.76470588235296%, 1);
  --colors-tiger50: hsla(6.826347305389218, 85.64102564102564%, 61.76470588235294%, 1);
  --colors-tiger60: hsla(6.826347305389218, 85.64102564102564%, 54.764705882352935%, 1);
  --colors-tiger70: hsla(6.826347305389218, 85.64102564102564%, 47.76470588235294%, 1);
  --colors-tiger80: hsla(6.826347305389218, 85.64102564102564%, 40.76470588235294%, 1);
  --colors-tiger90: hsla(6.826347305389218, 85.64102564102564%, 33.76470588235294%, 1);
  --colors-marigold10: hsla(34.84848484848485, 100%, 89.1764705882353%, 1);
  --colors-marigold20: hsla(34.84848484848485, 100%, 82.17647058823529%, 1);
  --colors-marigold30: hsla(34.84848484848485, 100%, 75.1764705882353%, 1);
  --colors-marigold40: hsla(34.84848484848485, 100%, 68.1764705882353%, 1);
  --colors-marigold50: hsla(34.84848484848485, 100%, 61.1764705882353%, 1);
  --colors-marigold60: hsla(34.84848484848485, 100%, 54.17647058823529%, 1);
  --colors-marigold70: hsla(34.84848484848485, 100%, 47.1764705882353%, 1);
  --colors-marigold80: hsla(34.84848484848485, 100%, 40.1764705882353%, 1);
  --colors-marigold90: hsla(34.84848484848485, 100%, 33.1764705882353%, 1);
  --colors-clover10: hsla(76.53846153846155, 61.417322834645674%, 78.19607843137256%, 1);
  --colors-clover20: hsla(76.53846153846155, 61.417322834645674%, 71.19607843137254%, 1);
  --colors-clover30: hsla(76.53846153846155, 61.417322834645674%, 64.19607843137256%, 1);
  --colors-clover40: hsla(76.53846153846155, 61.417322834645674%, 57.196078431372555%, 1);
  --colors-clover50: hsla(76.53846153846155, 61.417322834645674%, 50.19607843137255%, 1);
  --colors-clover60: hsla(76.53846153846155, 61.417322834645674%, 43.19607843137255%, 1);
  --colors-clover70: hsla(76.53846153846155, 61.417322834645674%, 36.19607843137255%, 1);
  --colors-clover80: hsla(76.53846153846155, 61.417322834645674%, 29.196078431372545%, 1);
  --colors-clover90: hsla(76.53846153846155, 61.417322834645674%, 22.196078431372545%, 1);
  --colors-cyan10: hsla(186.3316582914573, 96.13526570048307%, 68.58823529411765%, 1);
  --colors-cyan20: hsla(186.3316582914573, 96.13526570048307%, 61.58823529411765%, 1);
  --colors-cyan30: hsla(186.3316582914573, 96.13526570048307%, 54.58823529411765%, 1);
  --colors-cyan40: hsla(186.3316582914573, 96.13526570048307%, 47.588235294117645%, 1);
  --colors-cyan50: hsla(186.3316582914573, 96.13526570048307%, 40.588235294117645%, 1);
  --colors-cyan60: hsla(186.3316582914573, 96.13526570048307%, 33.588235294117645%, 1);
  --colors-cyan70: hsla(186.3316582914573, 96.13526570048307%, 26.588235294117645%, 1);
  --colors-cyan80: hsla(186.3316582914573, 96.13526570048307%, 19.588235294117645%, 1);
  --colors-cyan90: hsla(186.3316582914573, 96.13526570048307%, 12.588235294117645%, 1);
  --colors-amethyst10: hsla(265.1231527093596, 100%, 88.19607843137256%, 1);
  --colors-amethyst20: hsla(265.1231527093596, 100%, 81.19607843137256%, 1);
  --colors-amethyst30: hsla(265.1231527093596, 100%, 74.19607843137254%, 1);
  --colors-amethyst40: hsla(265.1231527093596, 100%, 67.19607843137254%, 1);
  --colors-amethyst50: hsla(265.1231527093596, 100%, 60.19607843137255%, 1);
  --colors-amethyst60: hsla(265.1231527093596, 100%, 53.19607843137255%, 1);
  --colors-amethyst70: hsla(265.1231527093596, 100%, 46.19607843137254%, 1);
  --colors-amethyst80: hsla(265.1231527093596, 100%, 39.19607843137254%, 1);
  --colors-amethyst90: hsla(265.1231527093596, 100%, 32.19607843137254%, 1);
  --colors-seattle10: hsla(214.28571428571436, 6.796116504854371%, 107.80392156862746%, 1);
  --colors-seattle20: hsla(214.28571428571436, 6.796116504854371%, 100.80392156862746%, 1);
  --colors-seattle30: hsla(214.28571428571436, 6.796116504854371%, 93.80392156862746%, 1);
  --colors-seattle40: hsla(214.28571428571436, 6.796116504854371%, 86.80392156862746%, 1);
  --colors-seattle50: hsla(214.28571428571436, 6.796116504854371%, 79.80392156862746%, 1);
  --colors-seattle60: hsla(214.28571428571436, 6.796116504854371%, 72.80392156862744%, 1);
  --colors-seattle70: hsla(214.28571428571436, 6.796116504854371%, 65.80392156862746%, 1);
  --colors-seattle80: hsla(214.28571428571436, 6.796116504854371%, 58.80392156862746%, 1);
  --colors-seattle90: hsla(214.28571428571436, 6.796116504854371%, 51.80392156862745%, 1);
  --colors-ivory: hsla(210.00000000000043, 25.000000000000266%, 98.43137254901961%, 1);
  --colors-midnight: hsla(215.2941176470588, 54.83870967741935%, 6.078431372549019%, 1);
  --colors-graphite: hsla(216.52173913043478, 25.27472527472528%, 17.84313725490196%, 1);
  --colors-mapped-content-background: hsla(210.00000000000043, 25.000000000000266%, 98.43137254901961%, 1);
  --colors-mapped-text: hsla(215.2941176470588, 54.83870967741935%, 6.078431372549019%, 1);
  --icons-logo: url("http://192.168.1.35:8080/assets/logo.png");
  --icons-logo-2x: url("http://192.168.1.35:8080/assets/logo@2x.png");
  --icons-logo-3x: url("http://192.168.1.35:8080/assets/logo@3x.png");
  --icons-logo-width: 52px;
  --icons-logo-height: 48px;
  --icons-logo-size: 52px 48px;
  --icons-masthead: url("http://192.168.1.35:8080/assets/masthead.png");
  --icons-masthead-2x: url("http://192.168.1.35:8080/assets/masthead@2x.png");
  --icons-masthead-3x: url("http://192.168.1.35:8080/assets/masthead@3x.png");
  --icons-masthead-width: 208px;
  --icons-masthead-height: 88px;
  --icons-masthead-size: 208px 88px;
  --images-logo: url("http://192.168.1.35:8080/assets/logo.png");
  --images-logo-2x: url("http://192.168.1.35:8080/assets/logo@2x.png");
  --images-logo-3x: url("http://192.168.1.35:8080/assets/logo@3x.png");
  --images-logo-width: 52px;
  --images-logo-height: 48px;
  --images-logo-size: 52px 48px;
  --images-masthead: url("http://192.168.1.35:8080/assets/masthead.png");
  --images-masthead-2x: url("http://192.168.1.35:8080/assets/masthead@2x.png");
  --images-masthead-3x: url("http://192.168.1.35:8080/assets/masthead@3x.png");
  --images-masthead-width: 208px;
  --images-masthead-height: 88px;
  --images-masthead-size: 208px 88px;
  --shadows-button: 0px 1px 8px hsla(214.28571428571436, 6.796116504854371%, 79.80392156862746%, 0.65);
  --shadows-button-filter: drop-shadow(0px 1px 4px hsla(214.28571428571436, 6.796116504854371%, 79.80392156862746%, 0.65));
  --shadows-card: 0px 0px 15px hsla(214.28571428571436, 6.796116504854371%, 79.80392156862746%, 0.5);
  --shadows-card-filter: drop-shadow(0px 0px 7.5px hsla(214.28571428571436, 6.796116504854371%, 79.80392156862746%, 0.5));
  --shadows-card-on-dark: 0px 0px 15px hsla(215.2941176470588, 54.83870967741935%, 6.078431372549019%, 0.5);
  --shadows-card-on-dark-filter: drop-shadow(0px 0px 7.5px hsla(215.2941176470588, 54.83870967741935%, 6.078431372549019%, 0.5));
  --shadows-card-hovered: 0px 0px 40px hsla(214.28571428571436, 6.796116504854371%, 79.80392156862746%, 0.5800000000000001);
  --shadows-card-hovered-filter: drop-shadow(0px 0px 20px hsla(214.28571428571436, 6.796116504854371%, 79.80392156862746%, 0.5800000000000001));
  --shadows-card-hovered-on-dark: 0px 0px 40px hsla(215.2941176470588, 54.83870967741935%, 6.078431372549019%, 0.5800000000000001);
  --shadows-card-hovered-on-dark-filter: drop-shadow(0px 0px 20px hsla(215.2941176470588, 54.83870967741935%, 6.078431372549019%, 0.5800000000000001));
  --shadows-modal: 0px 0px 40px hsla(214.28571428571436, 6.796116504854371%, 79.80392156862746%, 0.5800000000000001);
  --shadows-modal-filter: drop-shadow(0px 0px 20px hsla(214.28571428571436, 6.796116504854371%, 79.80392156862746%, 0.5800000000000001));
  --shadows-modal-on-dark: 0px 0px 40px hsla(216.52173913043478, 25.27472527472528%, 17.84313725490196%, 0.78);
  --shadows-modal-on-dark-filter: drop-shadow(0px 0px 20px hsla(216.52173913043478, 25.27472527472528%, 17.84313725490196%, 0.78));
  --en-title: "Haiku for Teams";
  --en-tagline: "Software is more than code.";
  --en-caption: "Whether you design, code, or manage — Haiku's tools for teams help you create, together.";
  --es-title: "Haiku para Equipos";
  --es-tagline: "Software es más que código.";
  --es-caption: "Ya sea que diseñe, codifique o administre, las herramientas de Haiku para equipos lo ayudan a crear juntos.";
  --spacing-xxs: 2;
  --spacing-xxs-px: 2px;
  --spacing-xxs-pt: 2pt;
  --spacing-xxs-em: 2em;
  --spacing-xxs-rem: 2rem;
  --spacing-xs: 4;
  --spacing-xs-px: 4px;
  --spacing-xs-pt: 4pt;
  --spacing-xs-em: 4em;
  --spacing-xs-rem: 4rem;
  --spacing-sm: 8;
  --spacing-sm-px: 8px;
  --spacing-sm-pt: 8pt;
  --spacing-sm-em: 8em;
  --spacing-sm-rem: 8rem;
  --spacing-md: 16;
  --spacing-md-px: 16px;
  --spacing-md-pt: 16pt;
  --spacing-md-em: 16em;
  --spacing-md-rem: 16rem;
  --spacing-lg: 32;
  --spacing-lg-px: 32px;
  --spacing-lg-pt: 32pt;
  --spacing-lg-em: 32em;
  --spacing-lg-rem: 32rem;
  --spacing-xl: 64;
  --spacing-xl-px: 64px;
  --spacing-xl-pt: 64pt;
  --spacing-xl-em: 64em;
  --spacing-xl-rem: 64rem;
  --spacing-xxl: 80;
  --spacing-xxl-px: 80px;
  --spacing-xxl-pt: 80pt;
  --spacing-xxl-em: 80em;
  --spacing-xxl-rem: 80rem;
  --sizing-xxs: 96;
  --sizing-xxs-px: 96px;
  --sizing-xxs-pt: 96pt;
  --sizing-xxs-em: 96em;
  --sizing-xxs-rem: 96rem;
  --sizing-xs: 112;
  --sizing-xs-px: 112px;
  --sizing-xs-pt: 112pt;
  --sizing-xs-em: 112em;
  --sizing-xs-rem: 112rem;
  --sizing-sm: 144;
  --sizing-sm-px: 144px;
  --sizing-sm-pt: 144pt;
  --sizing-sm-em: 144em;
  --sizing-sm-rem: 144rem;
  --sizing-md: 192;
  --sizing-md-px: 192px;
  --sizing-md-pt: 192pt;
  --sizing-md-em: 192em;
  --sizing-md-rem: 192rem;
  --sizing-lg: 384;
  --sizing-lg-px: 384px;
  --sizing-lg-pt: 384pt;
  --sizing-lg-em: 384em;
  --sizing-lg-rem: 384rem;
  --sizing-xl: 768;
  --sizing-xl-px: 768px;
  --sizing-xl-pt: 768pt;
  --sizing-xl-em: 768em;
  --sizing-xl-rem: 768rem;
  --sizing-xxl: 960;
  --sizing-xxl-px: 960px;
  --sizing-xxl-pt: 960pt;
  --sizing-xxl-em: 960em;
  --sizing-xxl-rem: 960rem;
  --sizing-xxxl: 1280;
  --sizing-xxxl-px: 1280px;
  --sizing-xxxl-pt: 1280pt;
  --sizing-xxxl-em: 1280em;
  --sizing-xxxl-rem: 1280rem;
}

.colors-fuss10-background-color {
  background-color: hsla(297.1578947368421, 87.96296296296295%, 85.6470588235294%, 1);
}

.colors-fuss10-color {
  color: hsla(297.1578947368421, 87.96296296296295%, 85.6470588235294%, 1);
}

.colors-fuss20-background-color {
  background-color: hsla(297.1578947368421, 87.96296296296295%, 78.6470588235294%, 1);
}

.colors-fuss20-color {
  color: hsla(297.1578947368421, 87.96296296296295%, 78.6470588235294%, 1);
}

.colors-fuss30-background-color {
  background-color: hsla(297.1578947368421, 87.96296296296295%, 71.6470588235294%, 1);
}

.colors-fuss30-color {
  color: hsla(297.1578947368421, 87.96296296296295%, 71.6470588235294%, 1);
}

.colors-fuss40-background-color {
  background-color: hsla(297.1578947368421, 87.96296296296295%, 64.64705882352942%, 1);
}

.colors-fuss40-color {
  color: hsla(297.1578947368421, 87.96296296296295%, 64.64705882352942%, 1);
}

.colors-fuss50-background-color {
  background-color: hsla(297.1578947368421, 87.96296296296295%, 57.647058823529406%, 1);
}

.colors-fuss50-color {
  color: hsla(297.1578947368421, 87.96296296296295%, 57.647058823529406%, 1);
}

.colors-fuss60-background-color {
  background-color: hsla(297.1578947368421, 87.96296296296295%, 50.6470588235294%, 1);
}

.colors-fuss60-color {
  color: hsla(297.1578947368421, 87.96296296296295%, 50.6470588235294%, 1);
}

.colors-fuss70-background-color {
  background-color: hsla(297.1578947368421, 87.96296296296295%, 43.647058823529406%, 1);
}

.colors-fuss70-color {
  color: hsla(297.1578947368421, 87.96296296296295%, 43.647058823529406%, 1);
}

.colors-fuss80-background-color {
  background-color: hsla(297.1578947368421, 87.96296296296295%, 36.647058823529406%, 1);
}

.colors-fuss80-color {
  color: hsla(297.1578947368421, 87.96296296296295%, 36.647058823529406%, 1);
}

.colors-fuss90-background-color {
  background-color: hsla(297.1578947368421, 87.96296296296295%, 29.647058823529406%, 1);
}

.colors-fuss90-color {
  color: hsla(297.1578947368421, 87.96296296296295%, 29.647058823529406%, 1);
}

.colors-tiger10-background-color {
  background-color: hsla(6.826347305389218, 85.64102564102564%, 89.76470588235294%, 1);
}

.colors-tiger10-color {
  color: hsla(6.826347305389218, 85.64102564102564%, 89.76470588235294%, 1);
}

.colors-tiger20-background-color {
  background-color: hsla(6.826347305389218, 85.64102564102564%, 82.76470588235294%, 1);
}

.colors-tiger20-color {
  color: hsla(6.826347305389218, 85.64102564102564%, 82.76470588235294%, 1);
}

.colors-tiger30-background-color {
  background-color: hsla(6.826347305389218, 85.64102564102564%, 75.76470588235294%, 1);
}

.colors-tiger30-color {
  color: hsla(6.826347305389218, 85.64102564102564%, 75.76470588235294%, 1);
}

.colors-tiger40-background-color {
  background-color: hsla(6.826347305389218, 85.64102564102564%, 68.76470588235296%, 1);
}

.colors-tiger40-color {
  color: hsla(6.826347305389218, 85.64102564102564%, 68.76470588235296%, 1);
}

.colors-tiger50-background-color {
  background-color: hsla(6.826347305389218, 85.64102564102564%, 61.76470588235294%, 1);
}

.colors-tiger50-color {
  color: hsla(6.826347305389218, 85.64102564102564%, 61.76470588235294%, 1);
}

.colors-tiger60-background-color {
  background-color: hsla(6.826347305389218, 85.64102564102564%, 54.764705882352935%, 1);
}

.colors-tiger60-color {
  color: hsla(6.826347305389218, 85.64102564102564%, 54.764705882352935%, 1);
}

.colors-tiger70-background-color {
  background-color: hsla(6.826347305389218, 85.64102564102564%, 47.76470588235294%, 1);
}

.colors-tiger70-color {
  color: hsla(6.826347305389218, 85.64102564102564%, 47.76470588235294%, 1);
}

.colors-tiger80-background-color {
  background-color: hsla(6.826347305389218, 85.64102564102564%, 40.76470588235294%, 1);
}

.colors-tiger80-color {
  color: hsla(6.826347305389218, 85.64102564102564%, 40.76470588235294%, 1);
}

.colors-tiger90-background-color {
  background-color: hsla(6.826347305389218, 85.64102564102564%, 33.76470588235294%, 1);
}

.colors-tiger90-color {
  color: hsla(6.826347305389218, 85.64102564102564%, 33.76470588235294%, 1);
}

.colors-marigold10-background-color {
  background-color: hsla(34.84848484848485, 100%, 89.1764705882353%, 1);
}

.colors-marigold10-color {
  color: hsla(34.84848484848485, 100%, 89.1764705882353%, 1);
}

.colors-marigold20-background-color {
  background-color: hsla(34.84848484848485, 100%, 82.17647058823529%, 1);
}

.colors-marigold20-color {
  color: hsla(34.84848484848485, 100%, 82.17647058823529%, 1);
}

.colors-marigold30-background-color {
  background-color: hsla(34.84848484848485, 100%, 75.1764705882353%, 1);
}

.colors-marigold30-color {
  color: hsla(34.84848484848485, 100%, 75.1764705882353%, 1);
}

.colors-marigold40-background-color {
  background-color: hsla(34.84848484848485, 100%, 68.1764705882353%, 1);
}

.colors-marigold40-color {
  color: hsla(34.84848484848485, 100%, 68.1764705882353%, 1);
}

.colors-marigold50-background-color {
  background-color: hsla(34.84848484848485, 100%, 61.1764705882353%, 1);
}

.colors-marigold50-color {
  color: hsla(34.84848484848485, 100%, 61.1764705882353%, 1);
}

.colors-marigold60-background-color {
  background-color: hsla(34.84848484848485, 100%, 54.17647058823529%, 1);
}

.colors-marigold60-color {
  color: hsla(34.84848484848485, 100%, 54.17647058823529%, 1);
}

.colors-marigold70-background-color {
  background-color: hsla(34.84848484848485, 100%, 47.1764705882353%, 1);
}

.colors-marigold70-color {
  color: hsla(34.84848484848485, 100%, 47.1764705882353%, 1);
}

.colors-marigold80-background-color {
  background-color: hsla(34.84848484848485, 100%, 40.1764705882353%, 1);
}

.colors-marigold80-color {
  color: hsla(34.84848484848485, 100%, 40.1764705882353%, 1);
}

.colors-marigold90-background-color {
  background-color: hsla(34.84848484848485, 100%, 33.1764705882353%, 1);
}

.colors-marigold90-color {
  color: hsla(34.84848484848485, 100%, 33.1764705882353%, 1);
}

.colors-clover10-background-color {
  background-color: hsla(76.53846153846155, 61.417322834645674%, 78.19607843137256%, 1);
}

.colors-clover10-color {
  color: hsla(76.53846153846155, 61.417322834645674%, 78.19607843137256%, 1);
}

.colors-clover20-background-color {
  background-color: hsla(76.53846153846155, 61.417322834645674%, 71.19607843137254%, 1);
}

.colors-clover20-color {
  color: hsla(76.53846153846155, 61.417322834645674%, 71.19607843137254%, 1);
}

.colors-clover30-background-color {
  background-color: hsla(76.53846153846155, 61.417322834645674%, 64.19607843137256%, 1);
}

.colors-clover30-color {
  color: hsla(76.53846153846155, 61.417322834645674%, 64.19607843137256%, 1);
}

.colors-clover40-background-color {
  background-color: hsla(76.53846153846155, 61.417322834645674%, 57.196078431372555%, 1);
}

.colors-clover40-color {
  color: hsla(76.53846153846155, 61.417322834645674%, 57.196078431372555%, 1);
}

.colors-clover50-background-color {
  background-color: hsla(76.53846153846155, 61.417322834645674%, 50.19607843137255%, 1);
}

.colors-clover50-color {
  color: hsla(76.53846153846155, 61.417322834645674%, 50.19607843137255%, 1);
}

.colors-clover60-background-color {
  background-color: hsla(76.53846153846155, 61.417322834645674%, 43.19607843137255%, 1);
}

.colors-clover60-color {
  color: hsla(76.53846153846155, 61.417322834645674%, 43.19607843137255%, 1);
}

.colors-clover70-background-color {
  background-color: hsla(76.53846153846155, 61.417322834645674%, 36.19607843137255%, 1);
}

.colors-clover70-color {
  color: hsla(76.53846153846155, 61.417322834645674%, 36.19607843137255%, 1);
}

.colors-clover80-background-color {
  background-color: hsla(76.53846153846155, 61.417322834645674%, 29.196078431372545%, 1);
}

.colors-clover80-color {
  color: hsla(76.53846153846155, 61.417322834645674%, 29.196078431372545%, 1);
}

.colors-clover90-background-color {
  background-color: hsla(76.53846153846155, 61.417322834645674%, 22.196078431372545%, 1);
}

.colors-clover90-color {
  color: hsla(76.53846153846155, 61.417322834645674%, 22.196078431372545%, 1);
}

.colors-cyan10-background-color {
  background-color: hsla(186.3316582914573, 96.13526570048307%, 68.58823529411765%, 1);
}

.colors-cyan10-color {
  color: hsla(186.3316582914573, 96.13526570048307%, 68.58823529411765%, 1);
}

.colors-cyan20-background-color {
  background-color: hsla(186.3316582914573, 96.13526570048307%, 61.58823529411765%, 1);
}

.colors-cyan20-color {
  color: hsla(186.3316582914573, 96.13526570048307%, 61.58823529411765%, 1);
}

.colors-cyan30-background-color {
  background-color: hsla(186.3316582914573, 96.13526570048307%, 54.58823529411765%, 1);
}

.colors-cyan30-color {
  color: hsla(186.3316582914573, 96.13526570048307%, 54.58823529411765%, 1);
}

.colors-cyan40-background-color {
  background-color: hsla(186.3316582914573, 96.13526570048307%, 47.588235294117645%, 1);
}

.colors-cyan40-color {
  color: hsla(186.3316582914573, 96.13526570048307%, 47.588235294117645%, 1);
}

.colors-cyan50-background-color {
  background-color: hsla(186.3316582914573, 96.13526570048307%, 40.588235294117645%, 1);
}

.colors-cyan50-color {
  color: hsla(186.3316582914573, 96.13526570048307%, 40.588235294117645%, 1);
}

.colors-cyan60-background-color {
  background-color: hsla(186.3316582914573, 96.13526570048307%, 33.588235294117645%, 1);
}

.colors-cyan60-color {
  color: hsla(186.3316582914573, 96.13526570048307%, 33.588235294117645%, 1);
}

.colors-cyan70-background-color {
  background-color: hsla(186.3316582914573, 96.13526570048307%, 26.588235294117645%, 1);
}

.colors-cyan70-color {
  color: hsla(186.3316582914573, 96.13526570048307%, 26.588235294117645%, 1);
}

.colors-cyan80-background-color {
  background-color: hsla(186.3316582914573, 96.13526570048307%, 19.588235294117645%, 1);
}

.colors-cyan80-color {
  color: hsla(186.3316582914573, 96.13526570048307%, 19.588235294117645%, 1);
}

.colors-cyan90-background-color {
  background-color: hsla(186.3316582914573, 96.13526570048307%, 12.588235294117645%, 1);
}

.colors-cyan90-color {
  color: hsla(186.3316582914573, 96.13526570048307%, 12.588235294117645%, 1);
}

.colors-amethyst10-background-color {
  background-color: hsla(265.1231527093596, 100%, 88.19607843137256%, 1);
}

.colors-amethyst10-color {
  color: hsla(265.1231527093596, 100%, 88.19607843137256%, 1);
}

.colors-amethyst20-background-color {
  background-color: hsla(265.1231527093596, 100%, 81.19607843137256%, 1);
}

.colors-amethyst20-color {
  color: hsla(265.1231527093596, 100%, 81.19607843137256%, 1);
}

.colors-amethyst30-background-color {
  background-color: hsla(265.1231527093596, 100%, 74.19607843137254%, 1);
}

.colors-amethyst30-color {
  color: hsla(265.1231527093596, 100%, 74.19607843137254%, 1);
}

.colors-amethyst40-background-color {
  background-color: hsla(265.1231527093596, 100%, 67.19607843137254%, 1);
}

.colors-amethyst40-color {
  color: hsla(265.1231527093596, 100%, 67.19607843137254%, 1);
}

.colors-amethyst50-background-color {
  background-color: hsla(265.1231527093596, 100%, 60.19607843137255%, 1);
}

.colors-amethyst50-color {
  color: hsla(265.1231527093596, 100%, 60.19607843137255%, 1);
}

.colors-amethyst60-background-color {
  background-color: hsla(265.1231527093596, 100%, 53.19607843137255%, 1);
}

.colors-amethyst60-color {
  color: hsla(265.1231527093596, 100%, 53.19607843137255%, 1);
}

.colors-amethyst70-background-color {
  background-color: hsla(265.1231527093596, 100%, 46.19607843137254%, 1);
}

.colors-amethyst70-color {
  color: hsla(265.1231527093596, 100%, 46.19607843137254%, 1);
}

.colors-amethyst80-background-color {
  background-color: hsla(265.1231527093596, 100%, 39.19607843137254%, 1);
}

.colors-amethyst80-color {
  color: hsla(265.1231527093596, 100%, 39.19607843137254%, 1);
}

.colors-amethyst90-background-color {
  background-color: hsla(265.1231527093596, 100%, 32.19607843137254%, 1);
}

.colors-amethyst90-color {
  color: hsla(265.1231527093596, 100%, 32.19607843137254%, 1);
}

.colors-seattle10-background-color {
  background-color: hsla(214.28571428571436, 6.796116504854371%, 107.80392156862746%, 1);
}

.colors-seattle10-color {
  color: hsla(214.28571428571436, 6.796116504854371%, 107.80392156862746%, 1);
}

.colors-seattle20-background-color {
  background-color: hsla(214.28571428571436, 6.796116504854371%, 100.80392156862746%, 1);
}

.colors-seattle20-color {
  color: hsla(214.28571428571436, 6.796116504854371%, 100.80392156862746%, 1);
}

.colors-seattle30-background-color {
  background-color: hsla(214.28571428571436, 6.796116504854371%, 93.80392156862746%, 1);
}

.colors-seattle30-color {
  color: hsla(214.28571428571436, 6.796116504854371%, 93.80392156862746%, 1);
}

.colors-seattle40-background-color {
  background-color: hsla(214.28571428571436, 6.796116504854371%, 86.80392156862746%, 1);
}

.colors-seattle40-color {
  color: hsla(214.28571428571436, 6.796116504854371%, 86.80392156862746%, 1);
}

.colors-seattle50-background-color {
  background-color: hsla(214.28571428571436, 6.796116504854371%, 79.80392156862746%, 1);
}

.colors-seattle50-color {
  color: hsla(214.28571428571436, 6.796116504854371%, 79.80392156862746%, 1);
}

.colors-seattle60-background-color {
  background-color: hsla(214.28571428571436, 6.796116504854371%, 72.80392156862744%, 1);
}

.colors-seattle60-color {
  color: hsla(214.28571428571436, 6.796116504854371%, 72.80392156862744%, 1);
}

.colors-seattle70-background-color {
  background-color: hsla(214.28571428571436, 6.796116504854371%, 65.80392156862746%, 1);
}

.colors-seattle70-color {
  color: hsla(214.28571428571436, 6.796116504854371%, 65.80392156862746%, 1);
}

.colors-seattle80-background-color {
  background-color: hsla(214.28571428571436, 6.796116504854371%, 58.80392156862746%, 1);
}

.colors-seattle80-color {
  color: hsla(214.28571428571436, 6.796116504854371%, 58.80392156862746%, 1);
}

.colors-seattle90-background-color {
  background-color: hsla(214.28571428571436, 6.796116504854371%, 51.80392156862745%, 1);
}

.colors-seattle90-color {
  color: hsla(214.28571428571436, 6.796116504854371%, 51.80392156862745%, 1);
}

.colors-ivory-background-color {
  background-color: hsla(210.00000000000043, 25.000000000000266%, 98.43137254901961%, 1);
}

.colors-ivory-color {
  color: hsla(210.00000000000043, 25.000000000000266%, 98.43137254901961%, 1);
}

.colors-midnight-background-color {
  background-color: hsla(215.2941176470588, 54.83870967741935%, 6.078431372549019%, 1);
}

.colors-midnight-color {
  color: hsla(215.2941176470588, 54.83870967741935%, 6.078431372549019%, 1);
}

.colors-graphite-background-color {
  background-color: hsla(216.52173913043478, 25.27472527472528%, 17.84313725490196%, 1);
}

.colors-graphite-color {
  color: hsla(216.52173913043478, 25.27472527472528%, 17.84313725490196%, 1);
}

.colors-mapped-content-background-background-color {
  background-color: hsla(210.00000000000043, 25.000000000000266%, 98.43137254901961%, 1);
}

.colors-mapped-content-background-color {
  color: hsla(210.00000000000043, 25.000000000000266%, 98.43137254901961%, 1);
}

.colors-mapped-text-background-color {
  background-color: hsla(215.2941176470588, 54.83870967741935%, 6.078431372549019%, 1);
}

.colors-mapped-text-color {
  color: hsla(215.2941176470588, 54.83870967741935%, 6.078431372549019%, 1);
}

.icons-logo-background-image {
  background-image: url("http://192.168.1.35:8080/assets/logo.png");
  width: 52px;
  height: 48px;
  background-size: 52px 48px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icons-logo-background-image {
    background-image: url("http://192.168.1.35:8080/assets/logo@2x.png");
  }
}

@media (min-device-pixel-ratio: 3), (min-resolution: 3dppx) {
  .icons-logo-background-image {
    background-image: url("http://192.168.1.35:8080/assets/logo@3x.png");
  }
}

.icons-masthead-background-image {
  background-image: url("http://192.168.1.35:8080/assets/masthead.png");
  width: 208px;
  height: 88px;
  background-size: 208px 88px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icons-masthead-background-image {
    background-image: url("http://192.168.1.35:8080/assets/masthead@2x.png");
  }
}

@media (min-device-pixel-ratio: 3), (min-resolution: 3dppx) {
  .icons-masthead-background-image {
    background-image: url("http://192.168.1.35:8080/assets/masthead@3x.png");
  }
}

.images-logo-background-image {
  background-image: url("http://192.168.1.35:8080/assets/logo.png");
  width: 52px;
  height: 48px;
  background-size: 52px 48px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .images-logo-background-image {
    background-image: url("http://192.168.1.35:8080/assets/logo@2x.png");
  }
}

@media (min-device-pixel-ratio: 3), (min-resolution: 3dppx) {
  .images-logo-background-image {
    background-image: url("http://192.168.1.35:8080/assets/logo@3x.png");
  }
}

.images-masthead-background-image {
  background-image: url("http://192.168.1.35:8080/assets/masthead.png");
  width: 208px;
  height: 88px;
  background-size: 208px 88px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .images-masthead-background-image {
    background-image: url("http://192.168.1.35:8080/assets/masthead@2x.png");
  }
}

@media (min-device-pixel-ratio: 3), (min-resolution: 3dppx) {
  .images-masthead-background-image {
    background-image: url("http://192.168.1.35:8080/assets/masthead@3x.png");
  }
}

.shadows-button-box-shadow {
  box-shadow: 0px 1px 8px hsla(214.28571428571436, 6.796116504854371%, 79.80392156862746%, 0.65);
}

.shadows-button-text-shadow {
  text-shadow: 0px 1px 8px hsla(214.28571428571436, 6.796116504854371%, 79.80392156862746%, 0.65);
}

.shadows-button-filter {
  filter: drop-shadow(0px 1px 4px hsla(214.28571428571436, 6.796116504854371%, 79.80392156862746%, 0.65));
}

.shadows-card-box-shadow {
  box-shadow: 0px 0px 15px hsla(214.28571428571436, 6.796116504854371%, 79.80392156862746%, 0.5);
}

.shadows-card-text-shadow {
  text-shadow: 0px 0px 15px hsla(214.28571428571436, 6.796116504854371%, 79.80392156862746%, 0.5);
}

.shadows-card-filter {
  filter: drop-shadow(0px 0px 7.5px hsla(214.28571428571436, 6.796116504854371%, 79.80392156862746%, 0.5));
}

.shadows-card-on-dark-box-shadow {
  box-shadow: 0px 0px 15px hsla(215.2941176470588, 54.83870967741935%, 6.078431372549019%, 0.5);
}

.shadows-card-on-dark-text-shadow {
  text-shadow: 0px 0px 15px hsla(215.2941176470588, 54.83870967741935%, 6.078431372549019%, 0.5);
}

.shadows-card-on-dark-filter {
  filter: drop-shadow(0px 0px 7.5px hsla(215.2941176470588, 54.83870967741935%, 6.078431372549019%, 0.5));
}

.shadows-card-hovered-box-shadow {
  box-shadow: 0px 0px 40px hsla(214.28571428571436, 6.796116504854371%, 79.80392156862746%, 0.5800000000000001);
}

.shadows-card-hovered-text-shadow {
  text-shadow: 0px 0px 40px hsla(214.28571428571436, 6.796116504854371%, 79.80392156862746%, 0.5800000000000001);
}

.shadows-card-hovered-filter {
  filter: drop-shadow(0px 0px 20px hsla(214.28571428571436, 6.796116504854371%, 79.80392156862746%, 0.5800000000000001));
}

.shadows-card-hovered-on-dark-box-shadow {
  box-shadow: 0px 0px 40px hsla(215.2941176470588, 54.83870967741935%, 6.078431372549019%, 0.5800000000000001);
}

.shadows-card-hovered-on-dark-text-shadow {
  text-shadow: 0px 0px 40px hsla(215.2941176470588, 54.83870967741935%, 6.078431372549019%, 0.5800000000000001);
}

.shadows-card-hovered-on-dark-filter {
  filter: drop-shadow(0px 0px 20px hsla(215.2941176470588, 54.83870967741935%, 6.078431372549019%, 0.5800000000000001));
}

.shadows-modal-box-shadow {
  box-shadow: 0px 0px 40px hsla(214.28571428571436, 6.796116504854371%, 79.80392156862746%, 0.5800000000000001);
}

.shadows-modal-text-shadow {
  text-shadow: 0px 0px 40px hsla(214.28571428571436, 6.796116504854371%, 79.80392156862746%, 0.5800000000000001);
}

.shadows-modal-filter {
  filter: drop-shadow(0px 0px 20px hsla(214.28571428571436, 6.796116504854371%, 79.80392156862746%, 0.5800000000000001));
}

.shadows-modal-on-dark-box-shadow {
  box-shadow: 0px 0px 40px hsla(216.52173913043478, 25.27472527472528%, 17.84313725490196%, 0.78);
}

.shadows-modal-on-dark-text-shadow {
  text-shadow: 0px 0px 40px hsla(216.52173913043478, 25.27472527472528%, 17.84313725490196%, 0.78);
}

.shadows-modal-on-dark-filter {
  filter: drop-shadow(0px 0px 20px hsla(216.52173913043478, 25.27472527472528%, 17.84313725490196%, 0.78));
}

.typography-heading1 {
  font-family: "SourceSansPro-Regular",sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: hsla(215.2941176470588, 54.83870967741935%, 6.078431372549019%, 1);
  letter-spacing: 0px;
  text-align: start;
  text-decoration: none;
}

.typography-body {
  font-family: "SourceSansPro-Regular",sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: hsla(215.2941176470588, 54.83870967741935%, 6.078431372549019%, 1);
  letter-spacing: 0px;
  text-align: center;
  text-decoration: none;
}

.typography-caption {
  font-family: "SourceSansPro-Regular",sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: hsla(215.2941176470588, 54.83870967741935%, 6.078431372549019%, 1);
  letter-spacing: 0px;
  text-align: start;
  text-decoration: none;
}

